@model BookClub.Models.Book

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Users who liked this book:</h3>
                        <ul class="list-group">
                            @if (Model?.UserHowLiked != null)
                            {
                                if (Model.UserHowLiked.Count > 0)
                                {
                                    foreach (var association in Model.UserHowLiked)
                                    { 
                                        <li class="list-group-item">💖 @association?.User?.FirstName @association?.User?.LastName</li>
                                    }
                                }
                                else
                                {
                                    <li class="list-group-item">No users have liked this book yet.</li>
                                }
                            }
                            else
                            {
                                <li class="list-group-item">Error: User Who Liked data not available.</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

 
</body>
</html>
